@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode Nerd Font", "FiraMono Nerd Font", "JetbrainsMono Nerd Font Propo";
    font-size: 10pt;
    background: transparent;
    min-height: 0;
    margin: 0 0px;
    padding: 0 2px;
}

window#waybar {
    border-radius: 0px;
    color: white;
}

tooltip {
    background: @background;
    border-radius: 10px;
}
tooltip label {
    color: @primary;
}

#workspaces {
    background-color: @background;
    padding: 2px 2px;
    margin: 0 2px;
    border-radius: 17px;
    transition: all 200ms ease-in-out;
}

#workspaces button {
    transition: all 200ms ease-out;
    padding: 0px 3px;
    margin: 0 0px;
    border-radius: 17px;
    min-width: 20px;
    background: @background;
    color: @primary;
    font-weight: bolder;
    border: 2px solid transparent;
}

#workspaces button.active {
    transition: all 200ms ease-in-out;
    background-color: @primary;
    color: @background;
    font-weight: bolder;
    border-radius: 17;
    border: 0px;
    min-width: 45px;
}

#workspaces button.focused {
    background-color: @primary;
    border-bottom: 3px solid white;
}

#clock {
    background-color: @background;
    color: @primary;
    border-radius: 17px;
    padding: 0 15px;
    margin: 0 2px;
    font-weight: bolder;
}

#battery {
    background-color: @background;
    color: @primary;
    padding: 0 15px;
    margin: 0 2px;
    border-radius: 17px;
    font-weight: bolder;
}

#battery.charging {
    color: @primary;
    background-color: @background;
    font-weight: bolder;
}

#battery.warning:not(.charging) {
    background: @background;
    color: @primary;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-weight: bolder;
}

#pulseaudio {
    background-color: @background;
    color: @primary;
    padding: 0 15px;
    margin: 0 2px;
    border-radius: 17px;
    font-weight: bolder;
}

#backlight {
    background-color: @background;
    color: @primary;
    padding: 0 15px;
    margin: 0 2px;
    border-radius: 17px;
    font-weight: bolder;
}

#network {
    background-color: @background;
    color: @primary;
    padding: 0 15px;
    margin: 0 2px;
    border-radius: 17px;
    font-weight: bolder;
}

#custom-updates.empty {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    color: transparent;
}

#idle_inhibitor.deactivated {
    background-color: @background;
    color: @primary;
    padding: 0 15px;
    margin: 0 2px;
    border-radius: 17px;
    font-weight: bolder;
}

#idle_inhibitor.activated {
    background-color: @background;
    color: @primary;
    padding: 0 15px;
    margin: 0 2px;
    border-radius: 17px;
    font-weight: bolder;
}

#custom-notification {
    background-color: @background;
    color: @primary;
    border-radius: 17px;
    padding: 0 15px;
    margin: 0 2px;
    font-weight: bolder;
}

#custom-notification.dnd {
    color: #7E643C;
}

#custom-notification.notification {
    color: @on_background;
}

#window {
    background-color: @background;
    color: @primary;
    border-radius: 17px;
    padding: 0 15px;
    margin: 0 2px;
    font-weight: bolder;
}

window#waybar.empty #window {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
}
